@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');


/* header */

body {
    background-color: rgb(63, 55, 55);
    background-image:url(/IMG/gv83.jpg);
    /* background-attachment: fixed; */
    display: flex;
    align-items:center;
    flex-direction: column;
    font-family: 'Antonio', sans-serif; 
      
}

.header img {
            display: flex;
            align-self: flex-start;
            width: 250px;
            height:150px;            
}
h2 {
    font-size:2em;
}

header {
    display: flex;
    width : 1200px;
    height: 350px;
    background-image:url(/IMG/accueil\ photo3\ saint\ tropez.jpg) ;
    border-radius:20px;
    justify-content: center;     
    font-size:18px; 
    color:white;
    
    
}


/* nav */
.Menuhead {
    margin:-20px;
    height:100px;
}

.button1, .button2, .button3, .button4 {
    height: 80px;
    width:300px;
    font-size: 1.5em;
    font-family: 'Antonio', sans-serif;
    border-radius:20px;
    background-color:rgb(63, 119, 223);
    border-color: rgb(252, 215, 6);
    color:white;  
} 

/* section*/

section {
    background-color: rgb(63, 119, 223);
    width: 1200px;
    border-radius:20px;
    padding:15px;   
}

section img {
    width:1200px;
    height: 500px;
}

a {
    text-decoration: none;
}

/* test image lieux incontournables */


.example{
    position:relative;
    padding:0;
    width:1200px;
    display:block;
    cursor:pointer;
    overflow:hidden;
    }
    .content {
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:0;
    left:0;
    color:#1d1f20;
    background-color:rgba(200,200,200,0.5);
    width:1200px;
    height:300px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align:center;
    }
    .example .content:hover { opacity:1; }      
    .example .content .text {
    height:0;
    opacity:1;
    transition-delay: 0s;
    transition-duration: 0.4s;
    }
    .example .content:hover .text {
    opacity:1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
    }

/* footer */

footer {
        margin: -45px;
        display: flex;
        width: 1200px;
        height: 200px;
        background-color:rgb(63, 119, 223);
        align-items: center;
        font-size: 1.3em;
        border-radius: 20px;
        padding:15px;
        justify-content: space-evenly;        
}

li {
    list-style-type:none;
}






/* aide */
/* div {
    border:1px solid white;
    
} */
