@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');


/* header */

body {
    background-color: rgb(63, 55, 55);
    background-image:url(/IMG/gv83.jpg);
    /* background-attachment: fixed; */
    display: flex;
    align-items:center;
    flex-direction: column;
    font-family: 'Antonio', sans-serif;    
}

.header img {
            display: flex;
            align-self: flex-start;
            width: 250px;
            height:150px;            
}

header {
    display: flex;
    width : 1200px;
    height: 350px;
    background-image:url(/IMG/accueil\ photo3\ saint\ tropez.jpg) ;
    border-radius:20px;
    justify-content: center;     
    font-size:18px; 
    color:white;
}


/* nav */
.Menuhead {
    margin:-20px;
    height:100px;
}

.button1, .button2, .button3, .button4 {
    height: 80px;
    width:300px;
    font-size: 1.5em;
    font-family: 'Antonio', sans-serif;
    border-radius:20px;
    background-color:rgb(63, 119, 223);
    border-color: rgb(252, 215, 6);
    color:white;  
} 

/* section1 */

section {
    background-color: rgb(63, 119, 223);
    width: 1200px;
    border-radius:20px;
    padding:15px;
    
}

section img {
    width:1200px;
    height: 500px;
}

a {
    text-decoration: none;
}

footer {
        margin: -40px;
        display: flex;
        width: 1200px;
        height: 150px;
        background-color:rgb(63, 119, 223);
        align-items: center;
        font-size: 1.3em;
        border-radius: 20px;
        padding:15px;
        
        
}

li {
    list-style-type:none;
}






/* aide */
/* div {
    border:1px solid white;
    
} */
